.ckca_page {
    position: relative;
    font-size: 10pt;
    width: 8in!important;
    zoom: 1.25;
    margin-left: -15px;
    margin-right: -15px;

    &:before {
        display: block;
        content: "";
        width: 8.25in;
    }

    .ckca_check, .ckca_stub_1, .ckca_stub_2 {
        position: absolute;
        height: 3.25in;
    }

    .ckca_check > * {
        position: absolute;
        white-space: nowrap;
    }

    .sequence_number {
        text-align: right;
        font-size: 1.3em;
    }

    .ckca_stub {
        width: 8in;
    }

    .ckca_stub .sequence_number {
        height: 0.3in;
        margin-bottom: 0.1in;
    }

    .ckca_stub .summary_line {
        width: 100%;
        margin-bottom: 0.1in;
    }

    .ckca_stub .summary_line span {
        padding: 0 0.1in;
    }

    .ckca_stub .stub_lines td {
        padding: 0.01in 0.05in;
    }

    .ckca_stub .stub_total_amount {
        position: absolute;
        bottom: 0in;
        right: 0.1in;
        text-align: right;
        font-weight: bold;
    }
}

.ckca_top_page {
    .ckca_check {
        top: 0in;
    }
    .ckca_stub_1 {
        top: 3.45in;
    }
    .ckca_stub_2 {
        top: 7in;
    }

    .ckca_check .sequence_number {
        top: 0.1in;
        left: 7.1in;
        width: 0.7in;
    }
    .ckca_date_label {
        top: 0.55in;
        left: 6in;
        width: .75in;
        text-align: center;
    }
    .ckca_date {
        top: 0.28in;
        left: 5.78in;
        width: 2.47in;
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 14px;
        white-space: pre;
            overflow-wrap: normal;

    }
    .ckca_date_format {
        top: 0.75in;
        left: 6.37in;
        width: 1.47in;
        text-align: center;
        font-size: 0.8em;
    }
    .ckca_amount {
        top: 1.60in;
        left: 6.10in;
        width: 1.08in;
        text-align: left;
        font-size: x-large;
    }
    .ckca_amount_in_word {
        top: 1.31in;
        left: 1.1in;
        width: 4in;
        text-align: left;
        font-weight: bold;
        overflow: hidden;
        white-space: pre-wrap;
        font-size: 1.0rem;
        line-height: 30px;
        text-transform: uppercase;
    }
    .ckca_payee_name {
        top: 1.67in;
        left: 0.5in;
        width: 4.0in;
        text-align: left;
    }
    .ckca_payee_address {
        top: 0.82in;
        left: 1.1in;
        width: 4.0in;
        text-align: left;
        font-size: 1.4em;
    }
    .ckca_memo {
        top: 2.6in;
        left: 0.65in;
        width: 2.9in;
        text-align: left;
        font-size: 0.9em;
        overflow: hidden;
    }
}
